<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Academusoft</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="container">
    <!-- Carrusel de imágenes -->
    <div id="carouselExampleInterval" class="carousel slide" data-bs-ride="carousel">
      <div class="carousel-inner">
        <div class="carousel-item active" data-bs-interval="10000">
          <img src="https://picsum.photos/800/400" class="d-block w-100" alt="Slide 1">
        </div>
        <div class="carousel-item" data-bs-interval="2000">
          <img src="https://picsum.photos/800/401" class="d-block w-100" alt="Slide 2">
        </div>
        <div class="carousel-item">
          <img src="https://picsum.photos/800/402" class="d-block w-100" alt="Slide 3">
        </div>
      </div>
      <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleInterval" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleInterval" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
    </div>
    <p></p>
    <!-- Contenedor de login -->
    <div class="login-container">
      <app-login></app-login>
    </div>
  </div>
</ion-content>

<ion-footer>
  <ion-toolbar>
    <ion-segment>
      <ion-segment-button value="home" checked>
        <ion-label>Inicio</ion-label>
      </ion-segment-button>
      <ion-segment-button value="courses">
        <ion-label>Cursos</ion-label>
      </ion-segment-button>
      <ion-segment-button value="students">
        <ion-label>Estudiantes</ion-label>
      </ion-segment-button>
      <ion-segment-button value="grades">
        <ion-label>Calificaciones</ion-label>
      </ion-segment-button>
    </ion-segment>
  </ion-toolbar>
</ion-footer>
